body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section{
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    width: 610px;
    height: 270px;
    margin: 5%;
    box-shadow: 1em 1em 1em grey;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
#my_photo{
    border: 1px solid bisque;
    border-radius: 20px;
    width: 30%;
    height: 80%;
    margin: 5%;
    background-image: url("Photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#about_me{
    width: 50%;
    height: 80%;
}
.project{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    
}

#project-1{
    border: 1px solid grey;
    border-radius: 20px;
    width: 100%;
    background-image: url("Project-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#project-1_{
    display: none;
}

#project-2{
    border: 1px solid grey;
    border-radius: 20px;
    width: 100%;
    background-image: url("Project-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#project-2_{
    display: none;
}