body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section{
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    width: 610px;
    height: 270px;
    margin: 5%;
}
#about{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    background-color: bisque;
}
#my_photo{
    border: 1px solid bisque;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    background-image: url("Photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.project{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    
}

#project-1{
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    background-image: url("Project-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#project-1_{
    display: none;
}

#project-2{
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    background-image: url("Project-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#project-2_{
    display: none;
}