body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

section{
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    width: 610px;
    height: 270px;
    margin: 5%;
    box-shadow: 1em 1em 1em grey;
    cursor: pointer;
  }

.card1__face--front {
    background-color: bisque;
    border: 1px solid bisque;
    border-radius: 20px;
  }
#my_photo{
    border: 1px solid bisque;
    border-radius: 20px;
    width: 30%;
    height: 80%;
    margin: 5%;
    background-image: url("Photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

#about_me{
    text-align: center;
    margin-left: 40%;
    width: 50%;
    height: 80%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

.card1, .card2, .card3 {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

.card1__face, .card2__face, .card3__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
.card2__face--front{
    border: 1px solid grey;
    border-radius: 20px;
    width: 100%;
    background-image: url("Project-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.card1__face--back,.card2__face--back, .card3__face--back{
    width: 98%;
    transform: rotateY( 180deg );   
  }

.card1.is-flipped, .card2.is-flipped, .card3.is-flipped {
    transform: rotateY(180deg);
  }

.card3__face--front{
    border: 1px solid grey;
    border-radius: 20px;
    width: 100%;
    background-image: url("Project-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }